.hero-header {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 1.7rem;
}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.07rem;
	
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F2F4F6;
}
h1 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-bottom: 15px;
}
