/* CSS for deal: trc-scotsman-a */

body, .deal-form {
    background-color: #ffffff;
}

h1, h2, h3, .form-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
}

body, .form-label, input, select, textarea {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}
